---
import FullImageSection from '../components/sections/FullImageSection';
import GeneralSection from '../components/sections/GeneralSection';
import Hero from '../components/texts/Hero';
import SubCaption from '../components/texts/SubCaption';

import Layout from '../layouts/Layout.astro';
import MailingListSection from '../components/sections/MailingListSection';
import SectionFadeIn from '../components/animated/SectionFadeIn';
import HeroTopSection from '../components/sections/HeroTopSection';
import { stockImages } from '../lib/const';
import Caption from '../components/texts/Caption';
import Card from '../components/cards/Card';
import { getCollection } from 'astro:content';
import Organization from '../components/sections/Organization';

const copywriting = await getCollection('copywriting', ({data}) => {
	return data.page == "about"
})
const data = copywriting.map((entry) => entry.data).sort((a,b) => a.index - b.index)

const cards = data[13].text.split(' ')

---

<Layout>
    <div id='about-main-container' class="w-full min-h-screen">



		<HeroTopSection 
			client:load id="about" 
			heroText={data[0].text} 
			heroCaption={data[1].text}
			heroImgSrc={stockImages.field}
		/>



		<GeneralSection id="about-profile">
			<div>
				<div class="sticky top-[60px] bg-dark-green py-12 ">
					<SubCaption
						client:load
						duration={1.5}
						stagger={0.05}
						filter={true}
						className=' text-yellow-green  bg-dark-green'
						words={data[2].text}/>
				</div>
				<Hero
					client:load
					duration={1.5}
					stagger={0.05}
					filter={true}
					className=''
					words={data[3].text}/>
				<FullImageSection id="about-electrician" additionalClasses={'w-full my-24'}>
					<img src={stockImages.electrician.src} alt={''} height={1000} class=""/>
				</FullImageSection>
				<Caption
					client:load
					duration={1.5}
					stagger={0.05}
					filter={true}
					className='text-right'
					words={data[4].text}/>
			</div>
		</GeneralSection>



		<GeneralSection id="about-strategic">
			<Hero
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className=' text-yellow-green my-24'
				words={data[5].text}/>
			<Caption
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-left'
				words={data[6].text}/>
			<GeneralSection id="about-electrician" additionalClasses={'w-full'}>
				<img src={stockImages.electriclines2.src} alt={''} height={1000} class=""/>
			</GeneralSection>
		</GeneralSection>



		<GeneralSection id="about-expansion">
			<SubCaption
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className=' text-yellow-green my-12'
				words={data[7].text}/>
			<Hero
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-left my-24'
				words={data[8].text}/>
			<Caption
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-right'
				words={data[9].text}/>
		</GeneralSection>
		<FullImageSection id="about-electrician" additionalClasses={'w-full'}>
			<img src={stockImages.electriclines3.src} alt={''} height={1000} class=""/>
		</FullImageSection>




		<GeneralSection id="about-commitment">
			<SubCaption
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className=' text-yellow-green my-12'
				words={data[10].text}/>
			<Caption
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-left my-24'
				words={data[11].text}/>
		</GeneralSection>
		<FullImageSection id="about-electrician" additionalClasses={'w-full h-[100vh]'}>
			<img src={stockImages.solar.src} alt={''} height={500} class="w-full"/>
		</FullImageSection>
		<GeneralSection id="about-commitment-2">
			<Caption
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-right'
				words={data[12].text}/>
		</GeneralSection>



		<GeneralSection id="about-expertise">
			<div class="flex flex-col md:flex-row gap-10 text-left md:gap-4">
				{
					cards.map((item, index) => (
						<Caption
							client:load
							duration={1}
							stagger={0.05}
							filter={true}
							className='text-yellow-green'
							words={item}/>
					))
				}
			</div>			
		</GeneralSection>
		<GeneralSection additionalClasses='bg-yellow-green text-dark-green' id="'">
			<Hero
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-left my-24  '
				words={data[14].text}/>
			<SubCaption
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-left mb-10'
				words={data[15].text}/>
			<SubCaption
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-left '
				words={data[16].text}/>
		</GeneralSection>

		<GeneralSection id="about-vision-mission" innerClasses='flex flex-col sm:flex-row gap-10 w-full'>
			<div class="w-full sm:w-[50%]">
				<Hero
					client:load
					duration={1.5}
					stagger={0.05}
					filter={true}
					className=' text-yellow-green my-24  '
					words={'Visi'}/>
				<SubCaption
					client:load
					duration={1.5}
					stagger={0.05}
					filter={true}
					className='text-justify my-24 '
					words={data[17].text}/>
			</div>
			<div class="w-full sm:w-[50%]">
				<Hero
					client:load
					duration={1.5}
					stagger={0.05}
					filter={true}
					className=' text-yellow-green my-24  '
					words={'Misi'}/>
				<SubCaption
					client:load
					duration={1.5}
					stagger={0.05}
					filter={true}
					className='text-justify my-10 '
					words={data[18].text}/>
				<SubCaption
					client:load
					duration={1.5}
					stagger={0.05}
					filter={true}
					className='text-justify my-10 '
					words={data[19].text}/>
			</div>

		</GeneralSection>

		<GeneralSection id="about-organization" innerClasses='flex flex-col sm:flex-row gap-10 w-full'>
			<Organization/>
		</GeneralSection>



		<MailingListSection client:load id='services-mailing-list'/>
	</div>
</Layout>
