---
import '../styles/global.css';

import { Image } from 'astro:assets';
import { getCollection, getEntry } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import { constColors, stockImages } from '../lib/const';

// Components
import ButtonAnimated from '../components/animated/ButtonAnimated';
import Hero from '../components/texts/Hero';
import Caption from '../components/texts/Caption';
import SubCaption from '../components/texts/SubCaption';
import GeneralSection from '../components/sections/GeneralSection'
import FullImageSection from '../components/sections/FullImageSection'
import SectionFadeIn from '../components/animated/SectionFadeIn'
import Clients from '../components/Clients'
import FrontPageCards from '../components/cards/FrontPageCards'
import ThreeScene from "../components/ThreeScene"

import {ArrowRightToLine} from 'lucide-react'

import companylogolarge from "../assets/media/company-logo-large.svg"
import MailingListSection from '../components/sections/MailingListSection';
import InnovationSection from '../components/sections/InnovationSection';
import HeroTopSection from '../components/sections/HeroTopSection';

const words = 'Solusi infrastruktur kelistrikan yang andal dan inovatif guna mendukung kemajuan Indonesia. Dengan mengutamakan keselamatan, efisiensi, dan standar kualitas tertinggi, kami memastikan pembangunan infrastruktur kelistrikan yang berkelanjutan dan berdaya saing.'

const copywriting = await getCollection('copywriting', ({data}) => {
	return data.page == "index"
})
const data = copywriting.map((entry) => entry.data).sort((a,b) => a.index - b.index)

---

<Layout>
	<div id="index-main-container" class="w-full flex flex-col">



	   <HeroTopSection 
			client:load 
			id="index" 
			heroText={data[0].text} 
			heroCaption={data[1].text}
			heroImgSrc={stockImages.electriclines}
		>
			<SectionFadeIn client:load className={'pt-10'} >
				<ButtonAnimated
					client:load
					label={'WHAT WE OFFER'}
					href={'/services'}
					className={"font-black"}
					initColor={constColors.darkGreen}
					initBgColor={constColors.white}
					hoverBgColor={constColors.yellowGreen2}
					hoverColor={constColors.darkGreen}
				>
					What We Offer
				</ButtonAnimated>
			</SectionFadeIn>
		</HeroTopSection>



		<div class="w-full">
			<GeneralSection
				id="index-hero-caption"
				additionalClasses='bg-yellow-green sticky top-[80px] px-0 md:px-12'
			>
				<Caption 
					className='text-dark-green md:text-center text-left' 
					animateText={false} words={data[2].text}
				/>
			</GeneralSection>
			<FullImageSection id="index-hero-picture" additionalClasses='max-h-[75vh]'>
				<img src={stockImages.field.src} alt="field"  class="w-full"/>
			</FullImageSection>
		</div>



		<GeneralSection
			id="index-clients"
			additionalClasses='bg-yellow-green w-full flex flex-col overflow-hidden'
		>
			<Hero
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-dark-green my-10'
				words={data[3].text}/>
 			<SectionFadeIn className='' client:load>
				<Clients/>
 			</SectionFadeIn>
		</GeneralSection>


		<GeneralSection id="index-services" additionalClasses=''>
			<FrontPageCards data={[
				{heading: data[4].text, body: data[5].text},
				{heading: data[6].text, body: data[7].text},
				{heading: data[8].text, body: data[9].text},
			]} client:load/>
			<ButtonAnimated
				client:load
				label={"WHAT WE'RE ALL ABOUT"}
				href={'/services'}
				className={"font-black w-full md:w-xs"}
				initColor={constColors.darkGreen}
				initBgColor={constColors.white}
				hoverBgColor={constColors.yellowGreen2}
				hoverColor={constColors.darkGreen}
			>See All Our Services</ButtonAnimated>
		</GeneralSection>


		<GeneralSection id="index-features" additionalClasses={'flex flex-col -mb-20 md:-mb-24'} innerClasses='justify-evenly w-full h-full'>
		    <div class="sticky top-[35px] bg-dark-green z-50 w-full">
          		<Hero
         			client:load
         			duration={1.5}
         			stagger={0.05}
         			filter={true}
         			className='text-yellow-green my-24 z-50'
         			words={data[10].text}/>
			</div>
            <InnovationSection content={[data[11].text, data[12].text, data[13].text, data[14].text]} client:load/>
		</GeneralSection>


		<GeneralSection id='index-about' additionalClasses='bg-yellow-green'>
            <div class=" flex flex-col gap-10 justify-center align-middle content-center items-center">
                <Hero
					client:load
                    duration={0.5}
                    stagger={0.1}
                    filter={true}
                    className='text-dark-green text-center'
					words={'Learn More About Us'}
					/>
				<ButtonAnimated
					client:load
					label={"WHAT WE'RE ALL ABOUT"}
					href={'/about'}
					className={"font-black w-max-xs w-xs my-10 text-center"}
					initColor={constColors.darkGreen}
					initBgColor={constColors.white}
					hoverBgColor={constColors.darkGreen}
					hoverColor={constColors.white}
				>What We're All About</ButtonAnimated>
            </div>
    	</GeneralSection>



		<FullImageSection id="index-hero-picture" additionalClasses={'h-[75vh]'}>
			<img src={stockImages.bulldozer.src} alt="electric lines" height={1000} class="w-full"/>
		</FullImageSection>



		<MailingListSection client:load id='index-mailing-list'/>



	</div>
</Layout>

<style>
	.font-basic {
		font-family: 'Basic Sans', sans-serif;
	},
</style>
