---
import '../styles/global.css';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import { constColors } from '../lib/const';

// Components
import ButtonAnimated from '../components/animated/ButtonAnimated';
import Hero from '../components/texts/Hero';
import Caption from '../components/texts/Caption';
import SubCaption from '../components/texts/SubCaption';
import GeneralSection from '../components/sections/GeneralSection'
import FullImageSection from '../components/sections/FullImageSection'
import SectionFadeIn from '../components/animated/SectionFadeIn'
import Clients from '../components/Clients'
import FrontPageCards from '../components/cards/FrontPageCards'
import ThreeScene from "../components/ThreeScene"

import {ArrowRightToLine} from 'lucide-react'

// Images
import electricLines from "../assets/media/stock/electric-lines.jpg"
import field from "../assets/media/stock/field.jpg"
import contact1 from "../assets/media/stock/contact1.jpg"
import bulldozer from "../assets/media/stock/bulldozer.jpg"

import companylogolarge from "../assets/media/company-logo-large.svg"
import MailingListSection from '../components/sections/MailingListSection';
import InnovationSection from '../components/sections/InnovationSection';



const electricLinesPath = `url("../assets/media/stock/electric-lines.jpg")`
const words = 'Solusi infrastruktur kelistrikan yang andal dan inovatif guna mendukung kemajuan Indonesia. Dengan mengutamakan keselamatan, efisiensi, dan standar kualitas tertinggi, kami memastikan pembangunan infrastruktur kelistrikan yang berkelanjutan dan berdaya saing.'

---

<Layout>
	<div id="index-main-container" class="w-full flex flex-col">



	   <div>
    		<GeneralSection id="index-hero-top" additionalClasses='sticky top-0 bg-dark-green'>
    			<div class="flex flex-col md:flex-row justify-between gap-10 sticky top-0 bg-dark-green">
    			    <div class="max-w-lg">
        				<Hero
       					client:load
       					duration={1.5}
       					stagger={0.05}
       					filter={true}
       					className='text-yellow-green'
       					words={'One-Stop \n Electrical \n Solution'}
        				/>
    				</div>
    				<div class="text-xl flex flex-col self-stretch justify-between pb-10 items-end md:items-end gap-10">
    					<SubCaption client:load
    						duration={0.5}
    						stagger={0.02}
    						filter={true}
    						className={'text-left md:text-right max-w-lg'}
    						words={'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat faucibus varius. Integer tristique posuere est, vel egestas dui mollis sed. Phasellus euismod sed neque sed iaculis.'}/>
    					<SectionFadeIn className={''} client:load>
    						<ButtonAnimated
    							client:load
    							label={'WHAT WE OFFER'}
    							href={'/mitra-adikarsa/services'}
    							className={"font-black"}
    							initColor={constColors.darkGreen}
    							initBgColor={constColors.white}
    							hoverBgColor={constColors.yellowGreen2}
    							hoverColor={constColors.darkGreen}
    						>
    						  What We Offer
    						</ButtonAnimated>
    					</SectionFadeIn>
    				</div>
    			</div>
    		</GeneralSection>
            <SectionFadeIn client:load className="w-full">
          		<FullImageSection id="index-hero-picture" additionalClasses={'w-full'}>
         			<img src={electricLines.src} alt="electric lines" height={1000} class="w-full"/>
          		</FullImageSection>
            </SectionFadeIn>
		</div>



		<div class="w-full">
			<GeneralSection id="index-hero-caption" additionalClasses='bg-yellow-green relative md:sticky md:top-[60px] px-12'>
				<Caption className='text-dark-green' animateText={false} words={words}/>
			</GeneralSection>
			<FullImageSection id="index-hero-picture" additionalClasses='max-h-[75vh]'>
				<img src={field.src} alt="field"  class="w-full"/>
			</FullImageSection>
		</div>



		<GeneralSection
			id="index-clients"
			additionalClasses='bg-yellow-green w-full flex flex-col overflow-hidden'
		>
			<Hero
				client:load
				duration={1.5}
				stagger={0.05}
				filter={true}
				className='text-dark-green my-10'
				words={'Trusted by Our Clients'}/>
 			<SectionFadeIn className='' client:load>
				<Clients/>
 			</SectionFadeIn>
		</GeneralSection>


		<GeneralSection id="index-services" additionalClasses=''>
			<FrontPageCards client:load/>
			<ButtonAnimated
				client:load
				label={"WHAT WE'RE ALL ABOUT"}
				href={'/mitra-adikarsa/services'}
				className={"font-black w-max-xs w-xs"}
				initColor={constColors.darkGreen}
				initBgColor={constColors.white}
				hoverBgColor={constColors.yellowGreen2}
				hoverColor={constColors.darkGreen}
			>See All Our Services</ButtonAnimated>
		</GeneralSection>


		<GeneralSection id="index-features" additionalClasses={'flex flex-col -my-24 md:-my-32'} innerClasses='justify-evenly w-full h-full'>
		    <div class="sticky top-[35px] bg-dark-green z-50 w-full">
          		<Hero
         			client:load
         			duration={1.5}
         			stagger={0.05}
         			filter={true}
         			className='text-yellow-green my-24 z-50 text-center'
         			words={'Our Innovations'}/>
			</div>
            <InnovationSection client:load/>
		</GeneralSection>


		<GeneralSection id='index-about' additionalClasses='bg-yellow-green'>
            <div class=" flex flex-col gap-10 justify-center align-middle content-center items-center">
                <Hero
					client:load
                    duration={0.5}
                    stagger={0.1}
                    filter={true}
                    className='text-dark-green text-center'
					words={'Learn More About Us'}
					/>
				<ButtonAnimated
					client:load
					label={"WHAT WE'RE ALL ABOUT"}
					href={'/mitra-adikarsa/about'}
					className={"font-black w-max-xs w-xs my-10 text-center"}
					initColor={constColors.darkGreen}
					initBgColor={constColors.white}
					hoverBgColor={constColors.darkGreen}
					hoverColor={constColors.white}
				>What We're All About</ButtonAnimated>
            </div>
    	</GeneralSection>



		<FullImageSection id="index-hero-picture" additionalClasses={'h-[75vh]'}>
			<img src={bulldozer.src} alt="electric lines" height={1000} class="w-full"/>
		</FullImageSection>



		<MailingListSection client:load id='index-mailing-list'/>



	</div>
</Layout>

<style>
	.font-basic {
		font-family: 'Basic Sans', sans-serif;
	},
</style>
