---
import { Image } from 'astro:assets';
import ButtonAnimated from '../components/Button-Animated';
import HeroCaption from '../components/HeroCaption';
import SectionFadeIn from '../components/SectionFadeIn'
import Clients from '../components/Clients'
import FrontPageCards from '../components/FrontPageCards'
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import electricLines from "../assets/media/stock/electric-lines.jpg"
import field from "../assets/media/stock/field.jpg"
import contact1 from "../assets/media/stock/contact1.jpg"
import bulldozer from "../assets/media/stock/bulldozer.jpg"

import ImageWithAspect from "../components/ImageWithAspect.astro"
import ThreeScene from "../components/ThreeScene"
import { constColors } from '../lib/const';
import '../assets/styles/global.css'

const electricLinesPath = `url("../assets/media/stock/electric-lines.jpg")`
const words = 'Solusi infrastruktur kelistrikan yang andal dan inovatif guna mendukung kemajuan Indonesia. Dengan mengutamakan keselamatan, efisiensi, dan standar kualitas tertinggi, kami memastikan pembangunan infrastruktur kelistrikan yang berkelanjutan dan berdaya saing.'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div 
		class="w-full flex flex-col"
	>
		<div class="-mb-96" id="main-hero">
			<div class="my-12 mx-24 flex flex-row justify-between ">
				<div class="">
					<HeroCaption client:load 
						duration={2}
						stagger={0.5}
						filter={true} className={'text-[6vw] leading-[5vw] max-w-5xl'} words={'ONE-STOP ELECTRICAL SOLUTION'}/>
					</div>
					<div class="text-xl flex flex-col items-end gap-10">
						<HeroCaption client:load 
							duration={2}
							stagger={0.02}
							filter={true} className={'text-3xl font-thin max-w-5xl text-right'} words={'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat faucibus varius. Integer tristique posuere est, vel egestas dui mollis sed. Phasellus euismod sed neque sed iaculis.'}/>
						<ButtonAnimated 
							client:load 
							label={'WHAT WE OFFER'}
							href={'/mitra-adikarsa/services'}
							className={"font-black z-[92] w-max-2xl"}
							initColor={constColors.darkGreen}
							initBgColor={constColors.white} 
							hoverBgColor={constColors.yellowGreen2}
							hoverColor={constColors.darkGreen}
						/>
				</div>
			</div>
			<div class="max-h-[75vh] overflow-hidden border-b-[0.1px] border-zinc-50/35">
				<img src={electricLines.src} alt="electric lines" height={200} class="origin-bottom -translate-y-2/5"/>
			</div>
		</div>
		<div class=" h-[80vh] w-[100vw] z-[91]">
			<ThreeScene client:load />
		</div>
		<div class="sticky top-0 z-[90] px-24 flex flex-col border-b-[0.1px] border-zinc-50/35  grainy-bg dark-green-color ">
			<HeroCaption
				client:load
				duration={2}
				stagger={0.1}
				filter={true}
				words={words}
				className={'py-12 text-5xl leading-[3.5rem] font-thin max-w-[75vw]'}
			/>
		</div>
		<div class="min-h-[100vh] flex flex-row">
			<div>
				<Image src={field} alt="field"/>
			</div>
		</div>
		<div class="w-full border-t-[0.1px] border-zinc-50/35 py-30 flex flex-col items-center gap-4 px-24 inset-shadow-2xs grainy-bg"
			style={{
				backgroundColor: constColors.darkGreen
			}}
		>
			<HeroCaption
				client:load
				duration={2}
				stagger={0.1}
				filter={true}
				words={'Trusted by Our Clients'}
				className={'text-5xl leading-[3rem] font-thin'}
			/>
			<SectionFadeIn className='' client:load>
				<Clients/>
			</SectionFadeIn>
		</div>
		<SectionFadeIn className="w-full border-t-[0.1px] border-b-[0.1px] border-zinc-50/35 py-30 shadow-2xl flex flex-col gap-20 px-24 grainy-bg dark-green-color z-[94]" client:load>
			<HeroCaption
				client:load
				duration={2}
				stagger={0.1}
				filter={true}
				words={'Our Services'}
				className={'text-5xl leading-[3rem] font-thin text-center'}
			/>
			<div class="flex flex-wrap w-full my-20">
				<FrontPageCards client:load/>
			</div>
		</SectionFadeIn>
		<SectionFadeIn client:load className="pt-30 px-24 dark-green-color grainy-bg z-[93] flex flex-col">
				<div class="my-10 flex flex-col gap-10 max-w-4xl">
					<HeroCaption client:load 
						duration={2}
						stagger={0.5}
						filter={true} className={'text-[6vw] leading-[5vw] max-w-4xl'} words={'Learn More About Us'}/>
					<!-- <div class="w-max-sm"> -->
						<ButtonAnimated 
							client:load 
							label={"WHAT WE'RE ALL ABOUT"}
							href={'/mitra-adikarsa/about'}
							className={"font-black w-max-xs w-xs"}
							initColor={constColors.darkGreen}
							initBgColor={constColors.white} 
							hoverBgColor={constColors.yellowGreen2}
							hoverColor={constColors.darkGreen}
						/>
					<!-- </div> -->
				</div>
				<div class="flex flex-row">
					<div class="h-[60vh] max-h-[50vh] max-w-[50vw] overflow-hidden">
						<div>
							<Image src={bulldozer} alt="bulldozer"/>
						</div>
					</div>
					<div class="h-[60vh] max-h-[50vh] max-w-[50vw] overflow-hidden">
						<div>
							<Image src={contact1} alt="contact1"/>
						</div>
					</div>
				</div>
		</SectionFadeIn>

	</div>
</Layout>
