---
import '../styles/global.css';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import { constColors } from '../lib/const';

// Components
import ButtonAnimated from '../components/animated/ButtonAnimated';
import Hero from '../components/texts/Hero';
import Caption from '../components/texts/Caption';
import SubCaption from '../components/texts/SubCaption';
import GeneralSection from '../components/sections/GeneralSection'
import FullImageSection from '../components/sections/FullImageSection'
import SectionFadeIn from '../components/animated/SectionFadeIn'
import Clients from '../components/Clients'
import FrontPageCards from '../components/cards/FrontPageCards'
import ImageWithAspect from "../components/ImageWithAspect.astro"
import ThreeScene from "../components/ThreeScene"

// Images
import electricLines from "../assets/media/stock/electric-lines.jpg"
import field from "../assets/media/stock/field.jpg"
import contact1 from "../assets/media/stock/contact1.jpg"
import bulldozer from "../assets/media/stock/bulldozer.jpg"


const electricLinesPath = `url("../assets/media/stock/electric-lines.jpg")`
const words = 'Solusi infrastruktur kelistrikan yang andal dan inovatif guna mendukung kemajuan Indonesia. Dengan mengutamakan keselamatan, efisiensi, dan standar kualitas tertinggi, kami memastikan pembangunan infrastruktur kelistrikan yang berkelanjutan dan berdaya saing.'

---

<Layout>
	<div id="index-main-container" class="w-full flex flex-col">
		<GeneralSection id="index-hero-top" >
			<div class="flex flex-col md:flex-row justify-between gap-10">
				<Hero 
					client:load 
					duration={1.5}
					stagger={0.05}
					filter={true} 
					words={'ONE-STOP ELECTRICAL SOLUTION'}/>
				<div class="text-xl flex flex-col items-end gap-10">
					<SubCaption client:load 
						duration={0.5}
						stagger={0.02}
						filter={true}
						className={'text-right'}
						words={'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat faucibus varius. Integer tristique posuere est, vel egestas dui mollis sed. Phasellus euismod sed neque sed iaculis.'}/>
					<SectionFadeIn className={''} client:load>
						<ButtonAnimated 
							client:load 
							label={'WHAT WE OFFER'}
							href={'/mitra-adikarsa/services'}
							className={"font-black z-[92] w-max-2xl"}
							initColor={constColors.darkGreen}
							initBgColor={constColors.white} 
							hoverBgColor={constColors.yellowGreen2}
							hoverColor={constColors.darkGreen}
						/>
					</SectionFadeIn>
				</div>
			</div>
		</GeneralSection>
		<FullImageSection id="index-hero-picture">
			<div class="max-h-[150vh] md:max-h-[75vh] overflow-hidden ">
				<img src={electricLines.src} alt="electric lines" height={200} class="origin-bottom -translate-y-0.5 md:-translate-y-2/5"/>
			</div>
		</FullImageSection>
		<section class='z-[98] h-[100vh] md:h-[100vh] -mt-[0vh] md:-mt-[55vh]'>
			<ThreeScene client:load />
		</section>
		<div class="w-full">
			<GeneralSection id="index-hero-caption" additionalClasses='grainy-bg dark-green-color relative md:sticky md:top-0 pt-0 md:pt-20 flex flex-col w-full'>
				<Caption animateText={false} words={words}/>
			</GeneralSection>
			<FullImageSection id="index-hero-picture">
				<div class="max-h-[75vh] overflow-hidden ">
					<img src={field.src} alt="field" height={'1000vh'} class=""/>
				</div>
			</FullImageSection>
		</div>
		<GeneralSection 
			id="index-clients"
			additionalClasses='grainy-bg w-full flex flex-col items-center gap-4 '
			style={{
				backgroundColor: constColors.darkGreen
			}}
		>
			<Caption
				client:load
				duration={1}
				stagger={0.025}
				filter={true}
				words={'Trusted by Our Clients'}
				className={'text-center mb-12'}
			/>
			<SectionFadeIn className='' client:load>
				<Clients/>
			</SectionFadeIn>
		</GeneralSection>
		<GeneralSection id="index-features" additionalClasses={'flex flex-col'} innerClasses='justify-evenly w-full h-full'>
			<Hero
				client:load 
				duration={0.5}
				stagger={0.1}
				filter={true}  
				className={'py-24  '}
				words={'Strength 1 We do This Thing Really Well with our Services'}
			/>
			<Hero
				client:load 
				duration={0.5}
				stagger={0.1}
				filter={true}  
				className={'py-24 justify-self-end text-right'}
				words={'Strength 2 and This Too Amazingly with out Powers'}
			/>
			<Hero
				client:load 
				duration={0.5}
				stagger={0.1}
				filter={true}  
				className={'py-24  '}
				words={'Strength 3 Especially This with to our Bestest Capabilities'}
			/>
		</GeneralSection>
		<GeneralSection id="index-services">
			<Caption
				client:load
				duration={1}
				stagger={0.025}
				filter={true}
				words={'Our Services'}
				className={'text-center pb-12'}
			/>
			<div class="w-full">
				<FrontPageCards client:load/>
			</div>
		</GeneralSection>
		<GeneralSection id='index-about'>
            <div class=" flex flex-col gap-10 max-w-4xl">
                <Hero
					client:load 
                    duration={0.5}
                    stagger={0.1}
                    filter={true}  
					words={'Learn More About Us'}
					/>
				<ButtonAnimated 
					client:load 
					label={"WHAT WE'RE ALL ABOUT"}
					href={'/mitra-adikarsa/about'}
					className={"font-black w-max-xs w-xs my-10"}
					initColor={constColors.darkGreen}
					initBgColor={constColors.white} 
					hoverBgColor={constColors.yellowGreen2}
					hoverColor={constColors.darkGreen}
				/>
            </div>
            <div class="flex flex-col sm:flex-row">
                <div class="max-h-full sm:max-h-[25vw] max-w-full sm:max-w-[50vw] overflow-hidden">
                    <div>
                        <Image src={bulldozer} alt="bulldozer"/>
                    </div>
                </div>
                <div class="max-h-full sm:max-h-[25vw] max-w-full sm:max-w-[50vw] overflow-hidden">
                    <div>
                        <Image src={contact1} alt="contact1"/>
                    </div>
                </div>
            </div>
    	</GeneralSection>
	</div>
</Layout>
