---
import Hero from '../components/texts/Hero';
import Layout from '../layouts/Layout.astro';

import electricLines from "../assets/media/stock/electric-lines.jpg"
import field from "../assets/media/stock/field.jpg"
import contact1 from "../assets/media/stock/contact1.jpg"
import bulldozer from "../assets/media/stock/bulldozer.jpg"

import GeneralSection from '../components/sections/GeneralSection';
import FullImageSection from '../components/sections/FullImageSection';
import ServicesSections from '../components/ServicesSections';
import SubCaption from '../components/texts/SubCaption';
import Caption from '../components/texts/Caption';
import SectionFadeIn from '../components/animated/SectionFadeIn';
import ButtonAnimated from '../components/animated/ButtonAnimated';
import MailingListSection from '../components/sections/MailingListSection';
import HeroTopSection from '../components/sections/HeroTopSection';
import { stockImages } from '../lib/const';
import { getCollection } from 'astro:content';

const copywriting = await getCollection('copywriting', ({data}) => {
	return data.page == "services"
})
const data = copywriting.map((entry) => entry.data).sort((a,b) => a.index - b.index)

const servicesData = data.filter((entry) => entry.index > 2).map((entry) => entry.text)
const servicesDataArr: any[] = Array.from({length: servicesData.length/2}, () => ({heading: '', body: ''}))

servicesData.forEach((entry, index) => {
    if (index % 2 == 0) {
        servicesDataArr[Math.floor(index/2)].heading = entry
    } 
    else if (index % 2 == 1) {
        servicesDataArr[Math.floor(index/2)].body = entry
    }
})
---

<Layout>
    <div id='services-main-container' class="w-full flex flex-col">



		<HeroTopSection 
			client:load id="services" 
			heroText={data[0].text} 
			heroCaption={data[1].text} 
			heroImgSrc={stockImages.bulldozer}
		/>



        <GeneralSection id="index-hero-caption" additionalClasses='px-0 md:px-12  bg-yellow-green'>
            <Caption
                duration={1}
                stagger={0.05}
                className='text-dark-green md:text-center text-left'
                client:load 
				words={data[2].text} />
        </GeneralSection>
        <ServicesSections data={servicesDataArr} client:load />
		<MailingListSection client:load id='services-mailing-list'/>
    </div>
</Layout>
